<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        a{
            background-color: black;
            padding: 10px;
            border-radius: 15px;
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h3>
        Sejam bem vindos!
    </h3>
    <a href="/contatos">Contatos</a>
    <a href="/central">Central</a>
</body>
</html>